    <!--form handling-->
   <form action="/api/users" method="post" id="add_user ">
                    
    <div class="new_user">
           <div class="form-group">
               <label for="name" class="text-light">Name</label>
                 <input type="hidden" name="id" value="">
                 <input type="text" name="name" value="" placeholder="Nuramo Tamire">
           </div>
           <div class="form-group">
            <label for="name" class="text-light">Date of birth</label>
            <input type="hidden" name="id" value="">
              <input type="date" name="dateofbirth" value="" placeholder="1999/May/12">
            </div> 
            <div class="form-group">
              <label for="name" class="text-light">Salary</label>
                <input type="hidden" name="id" value="">
                <input type="text" name="salary" value="" placeholder="1000">
          </div>
            <div class="form-group">
                <label for="Gender" class="text-light">Gender</label>
                  <div class="radio inline">
                    <input type="radio" id="radio-2" name="gender" value="Male" >
                    <label for="radio-2" class="radio-lable">Male</label>
                  </div>
                  <div class="radio inline">
                    <input type="radio" id="radio-3" name="gender" value="Female" >
                    <label for="radio-3" class="radio-lable">Female</label>
                  </div>
                  
            </div>
            <div class="form-group">
                <button type="submit" class="btn text-dark update">Save</button>
            </div>


       </div>
</form>